<%= render 'shared/flash_messages' %>
<div class="jumbotron">
  <div class="container">
    <h1>It's the course app!</h1>
    <p>Welcome to the Rapid Application Development assignment. Feel free to explore the website as much as you can. This task of developing the application is due on May 2nd 2017.</p>
  </div>
</div>
<div class="block">
  <h1>Register as a coordinator</h1>
  <p class="lead">Visit the registration page to sign in as a coordinator. The role of a coordinator allows creating categories and locations for courses. The following actions must require a valid RMIT email address to register.</p>
  <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register Now</a></p>
</div>